<!-- haut 1 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_yop2d"
        android:label="${nomApp}"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".EcranDemarrage"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- configChanges : quand la tablette tourne, Android ne détruit plus l'écran,
             donc le travail non sauvegardé n'est plus perdu -->
        <activity
            android:name=".InterfaceEditeur"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density"
            android:exported="false" />

        <activity
            android:name=".InterfaceBlueprint"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density"
            android:exported="false" />

        <activity
            android:name=".RunnerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density"
            android:exported="true" />

    </application>

</manifest>
<!-- bas 1 -->
